body {
	font-family: verdana;
}

nav {
	overflow: hidden;
}

nav ul{
	list-style-type: none;
	float: left;
	padding: 0px;
}

nav ul li {
	float: left;
	padding: 3px 10px;
	margin: 2px;
	border-radius: 8px;
	transition: height 1s;
	height: 30px;
}


 nav ul li a {
 	text-decoration: none;
 	color: white;
 	display: block;
 	}
 
 nav ul li a:hover{
 	text-decoration: none;
 	color: white;

 }

article {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#info{
	font-size: 25px;
	text-align: center;
}

footer{
	color: white;
	text-align: center;
	clear: both;
	margin-top: 50px;
}

#logo1 {
	width:450px;
	margin-top: 80px;
	border-radius: 100px;
	margin-right: auto;
	margin-left:auto;
	display: block;
}

i {
	font-size: 40px;
	padding-left: 20px;
	color: #ffff;
	margin-bottom: 8px;
}