body {
	background: #D1D0CF;
	font-family: verdana;
}

nav {
	overflow: hidden;
}

nav ul{
	list-style-type: none;
	float: left;
	padding: 0px;
}

nav ul li {
	float: left;
	padding: 3px 10px;
	margin: 2px;
	border-radius: 8px;
	transition: height 1s;
	height: 30px;
}


 nav ul li a {
 	text-decoration: none;
 	color: white;
 	display: block;
 	}
 
 nav ul li a:hover{
 	text-decoration: none;
 	color: white;

 }
 
article {
	text-align: center;
	margin-bottom: 27	0px;
}

footer{
	text-align: center;
	color: white;
}

#logo1 {
	width: 450px;
	border-radius: 100px;
	margin-top: 70px;
}
i {
	font-size: 40px;
	padding-left: 20px;
	color: #ffff;
	margin-bottom: 8px;
}